<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <Title>Bookdelivery</Title>
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body>
        <H1>Welcome to BOOK-DELIVERY!</H1> <br>

        <form action="/" method="POST">
            ID : 
            <input id="id" name="yourid" type="text" value="Enter your id"> <br>
            PASSWORD : 
            <input id="pw" name = "yourpw" type="text" value="Enter your password"> <br>
            <input type = "submit" value="Login">
        </form>
    </body>
</html>